<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<form action='add' method='post'>
Name:<br>
<input type="text" name="fname"><br><br>

Category:<br>
<select name="category">
   <option value="Restaurant">Restaurant</option>
   <option value="GasStation">GasStation</option>
   <option value="ShopCenter">ShopCenter</option>
   </select><br><br>

Longitude:<br>
<input type="text" name="Longitude"><br><br>

Latitude:<br>
<input type="text" name="Latitude"><br>

<input type="submit" value="submit">
</form>



    
  </body>
</html>
